%h1 Vocabulary Words
%h5.v_margin=link_to "New Word", new_admin_dashboard_vocabulary_word_path
%table.table.table-bordered
  %thead
    %td Word
    %td Chinese
    %td Part of speech
    %td IPA
    %td Definition
    %td Sentence

  %tbody
    - @vocabulary_words.each do |word|
      %tr
        %td
          =link_to edit_admin_dashboard_vocabulary_word_path(word) do
            %h5= word.main
        %td
          %h5= word.chinese
        %td
          %h5= word.part_of_speech
        %td
          %h5= word.ipa
        %td
          %h5= word.definition
        %td
          %h5= word.sentence

