/ = render "downloads/download"
.row
  .container
    .col-md-8.col-md-offset-2
      - if current_user.is_admin?
        = link_to "Edit", edit_admin_dashboard_download_path(@download)
      %h1.download_title= @download.title
      = image_tag(@download.main_image_url, class: "download_image")
      .well.download_description= @download.description
      - if logged_in? && current_user.is_admin?
        .col-xs-offset-4.col-sm-offset-5.btn.btn-primary 下载
        / Dowload
      - else
        = link_to start_download_path(@download_link), method: "post", remote: true do
          .col-xs-offset-4.col-sm-offset-5.btn.btn-primary 下载
          / Dowload
