= render "shared/nav"
%main
  .feature-image
    %h1 Blog
  .row
    .container
      .col-sm-8
        .articles_container
          - @articles.each do |article|
            .article_preview
              .row
                .col-sm-4
                  =image_tag(article.main_image_url)
                .col-sm-8
                  %h1
                    = link_to article.title, article_path(article)
                  %small= article.created_at
                  %p= article.preview_text
      .col-sm-4
        = render "shared/sidebar"
        