- unless @article.published?
  .row
    .alert-danger.alert
      This article is not published

.row
  .col-sm-8
    %h1= @article.title
    %small= format_datetime(@article.created_at)
    %small
      = link_to "Edit", edit_admin_article_path(@article) if logged_in? && current_user.is_admin?

    = render "shared/feature_image", {image: @article.main_image_url, text: @article.title}
    - @article.article_topics.each do |topic|
      = link_to article_topic_path(topic) do 
        .badge= topic.name
    %br/
    %h5.center Key Words
    #vocabulary_words_container.well.row
      = render "vocabulary_words/vocabulary_words_container", object: @article


    .article_show= @article.body.html_safe

    %hr/
    = render "shared/random_article_large"

    %section.v_margin
      .row
        .col-xs-10.col-xs-offset-1
          .widget
            = bootstrap_form_for EmailSignup.new do |f|
              %h4 得到我們的新課程提醒
              / %h4 Get notified when we launch our courses
              %p 我們持續努力精進我們的一般和高級課程。歡迎提供您的email以獲得我們新課程的上線通知。
              / %p We are working hard on our courses and other premium courses. Give us your email to be notified when we release our courses.
              = hidden_field_tag :page, request.original_url
              = hidden_field_tag :campaign, "Prerelease"
              = f.text_field :email
              = f.submit "註冊", class: "btn btn-primary" # Sign up
      
    .article_comments_section
      %h2 评论
      / %h2 Comments
      - if logged_in?
        = bootstrap_form_for [@article, @comment], remote: true do |f|
          = f.text_area :body
          = f.submit "Create Comment", class: "btn btn-primary"
      - else
        .well.center 
          %p You need to be signed in to write a comment
          = link_to sign_in_path do
            .btn.btn-primary Sign In

      = render "comments/comments_section", object: @article

  .col-sm-3
    = render "shared/sidebar"