%h1= "Editing Lesson: #{@lesson.name}"
%h4= "Lesson id: #{@lesson.id}"
= link_to admin_course_path(@course) do
  .btn.btn-sm.btn-primary Back to course
  
= link_to admin_course_lesson_path(@course, @lesson) do
  .btn.btn-sm.btn-success Back to lesson

= link_to admin_course_lesson_path(@course, @lesson), method: "DELETE", data: {confirm: "Are you sure you want to delete this lesson?"} do
  .btn.btn-danger Delete Lesson

= render "form"