%h1 Editing profile

= bootstrap_form_for(@user) do |f|
  = f.email_field :email
  = f.password_field :password
  = f.text_field :name
  = f.file_field :picture_url, label: "Profile Picture (jpg jpeg png)", class: "btn btn-file"
  = f.text_area :bio
  = f.submit "Save", class: "btn btn-primary"
