%main
  - if @affiliate_link
    .row
      .well.affiliate_link_message= @affiliate_link.sign_up_message
  .row
    %h1 免费注册
    / %h1 Sign Up For Free
    %ul.sign_up_features
      %li <i class="fa fa-check"></i> 免费课程
      / Free Lessons
      %li <i class="fa fa-check"></i> 评论文章
      / Comment on articles
      %li <i class="fa fa-check"></i> 不错过任何文章
      / Never miss an article
      %li <i class="fa fa-check"></i> 和英文老师沟通
      / Communicate with English teachers
  .row
    .col-xs-12
      = bootstrap_form_for @user do |f|
        = f.email_field :email, label: "電子郵件"
        = f.text_field :name, label: "用户名"
        = f.password_field :password, label: "密碼"
        = f.submit "Sign Up", class: "btn btn-primary pull-right"
= render "shared/upgrade_features"





