%main
  .row
    %h1 免费注册
    / %h1 Sign Up For Free
    %ul.sign_up_features
      %li <i class="fa fa-check"></i> 免费课程
      / Free Lessons
      %li <i class="fa fa-check"></i> 评论文章
      / Comment on articles
      %li <i class="fa fa-check"></i> 不错过任何文章
      / Never miss an article
      %li <i class="fa fa-check"></i> 和英文老师沟通
      / Communicate with English teachers
  .row
    .col-xs-12
      = bootstrap_form_for @user do |f|
        .row
          .col-xs-12
            .btn-group{"data-toggle" => "buttons"}
              .membership_level_choice_div.col-xs-12.col-md-5.active
                .row
                  .col-xs-12.membership_name
                    %h2 Free
                .row
                  .col-xs-12.membership_features
                    %ul.membership_feature_list
                      = render partial: "shared/membership_feature", locals: { feature: "Read Articles", able: true}
                      = render partial: "shared/membership_feature", locals: { feature: "Comment on Articles", able: true}
                      = render partial: "shared/membership_feature", locals: { feature: "Enroll in Courses"}
                      = render partial: "shared/membership_feature", locals: { feature: "View Lessons"}
                      = render partial: "shared/membership_feature", locals: { feature: "Take Quizzes"}
                      = render partial: "shared/membership_feature", locals: { feature: "Use Study Tools"}
                      = render partial: "shared/membership_feature", locals: { feature: "Ask the teacher questions"}
                .row
                  .col-xs-4.col-xs-offset-3
                    .btn.black-bkg.membership_level_choice_button Choose Plan
                    .btn.btn-primary.membership_level_chosen_button.active Selected Plan
              .membership_level_choice_div.col-xs-12.col-md-5.col-md-offset-1.active
                .row
                  .col-xs-12.membership_name
                    %h2 Premium
                .row
                  .col-xs-12.membership_features
                    %ul.membership_feature_list
                      = render partial: "shared/membership_feature", locals: { feature: "Read Articles", able: true}
                      = render partial: "shared/membership_feature", locals: { feature: "Comment on Articles", able: true}
                      = render partial: "shared/membership_feature", locals: { feature: "Enroll in Courses"}
                      = render partial: "shared/membership_feature", locals: { feature: "View Lessons"}
                      = render partial: "shared/membership_feature", locals: { feature: "Take Quizzes"}
                      = render partial: "shared/membership_feature", locals: { feature: "Use Study Tools"}
                      = render partial: "shared/membership_feature", locals: { feature: "Ask the teacher questions"}
                .row
                  .col-xs-4.col-xs-offset-3
                    .btn.black-bkg.membership_level_choice_button Choose Plan
                    .btn.btn-primary.membership_level_chosen_button.active Selected Plan
              = f.radio_button :membership_level, "free", checked: false, class: "membership_radio_button"


        = f.email_field :email
        = f.text_field :name
        = f.password_field :password
        = f.submit "Sign Up", class: "btn btn-primary pull-right"





