%h1= t ".account"
= link_to edit_user_path(@user) do
  .btn.btn-primary= t ".edit_profile"
.row
  .col-xs-4
    %h3= t (".account_name") + ": " + @user.name
    %h3= t (".account_email") + ": " + @user.email

    -if @user.is_paid_member?
      %h3= t ".paid_member"
    - else
      = link_to upgrade_path do
        %h3= t ".upgrade"

    - if current_user.is_paid_member?
      - if @user.membership_will_end?
        %h3= t (".member_until") + ": " + @user.member_until
      - else
        %h3= t (".next_payment_due") + ": " + @user.member_until
        
        = link_to cancel_membership_path, data: { confirm: "Are you sure you want to cancel your membership?"} do
          .btn.btn-danger= t ".cancel_membership"


    %h3= t (".user_level")  + ": " + @user.level.to_s
    %h3= t (".user_points") + ": " + @user.points.to_s
  .col-xs-4=image_tag(@user.picture_url)

%h2= t ".my_courses"

- if @user.courses.count < 1
  .well.center
    %h4= t ".you_havent_signed_up_for_any_lessons"
    = link_to courses_path do
      .btn.btn-primary.btn-lg= t ".browse_classes"
- else
  - @user.courses.each do |course|
    = render "courses/course_preview", course: course
