- if logged_in? && current_user.is_admin?
  %nav.admin_nav
    .container
      .row
        .col-sm-1
          = link_to admin_dashboard_path do
            %i.fa.fa-home
        .col-sm-1
          = link_to "Articles", admin_articles_path
        .col-sm-1
          = link_to "Courses", admin_courses_path
        .col-sm-1
          = link_to "Create Course", new_admin_course_path
        .col-sm-1
          = link_to "Levels", admin_dashboard_levels_path
        .col-sm-1
          = link_to "Add Article", new_admin_article_path
        .col-sm-1
          = link_to "Article Topic", admin_article_topics_path
        .col-sm-1
          = link_to "Downloads", admin_dashboard_downloads_path
        .col-sm-2
          = link_to "Affiliates", admin_dashboard_affiliates_path