- @download_id = Download.count > 0 ? Download.where(active: true).last.id : ""
#campaign_modal.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#myModalLabel.modal-title= "Get #{title}" 
      .modal-body
        = image_tag "https://s3-us-west-2.amazonaws.com/yingwenxuexiao1108/public/tmp/Book+One+Cover.jpg"
        %p= t ".enter_your_email" 
        %small= t ".when_you_enter_your_email" 
        
        = bootstrap_form_for EmailSignup.new do |t|
          = t.email_field :email
          = hidden_field_tag :page, request.original_url
          = hidden_field_tag :campaign, campaign
          = hidden_field_tag :download_id, @download_id
          = t.submit "Get the book", class: "btn btn-primary"
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close