.row
  %footer.footer#main_footer
    .row
      .col-xs-4
        %h5 英文學校
        / %h5 English School
        %ul
          %li=link_to "工作機會", careers_path # Careers
          %li=link_to "Blog", blog_path
          %li=link_to "相關公司", affiliates_path # Affiliates
      .col-xs-4
        %h5 條款和協助
        / %h5 Terms and help
        %ul
          %li=link_to "隱私權政策", "/privacy_policy" # Privacy Terms
          %li=link_to "條款和協助", "/help" # Help
          %li=link_to "聯絡", contact_path # Contact
      .col-xs-4
        %h5 Account
        %ul
          %li= link_to "我的帳號", account_path # My Account
          %li= link_to "升級", root_path # Upgrade
          %li= link_to "Terms and Service", tos_path
          %li= link_to "Privacy Policy", privacy_policy_path
    .row.footer_social
      .col-xs-12
        %h4.center Social
    .row
      .col-xs-12.center
        = link_to "https://www.facebook.com/yingwenxuexiao/" do
          .social_media_button.facebook_social_button
        = link_to "https://www.youtube.com/channel/UCexchUgVhcG7X29v93EZk6w?view_as=subscriber" do     
          .social_media_button.youtube_social_button
        = link_to "https://twitter.com/EnglishSchoolTW/" do     
          .social_media_button.twitter_social_button       
    .row
      .center.v_margin
        © 2016 Yingwenxuexiao All Rights Reserved.
