.row
  %footer.footer#main_footer
    .row
      .col-xs-4
        %h5= t ".name_of_website"
        %ul
          %li
            =link_to careers_path do
              = t ".careers"

          %li=link_to "Blog", blog_path

          %li
            =link_to affiliates_path do
              = t ".affiliates"
      .col-xs-4
        %h5= t ".terms_and_help"
        %ul
          %li
            =link_to privacy_policy_path do
              = t ".privacy_policy"

          %li
            =link_to "/help" do
              = t ".help"

          %li
            =link_to contact_path  do
              = t ".contact"
      .col-xs-4
        %h5= t ".account"
        %ul
          %li
            = link_to account_path do
              = t ".account"
          %li
            = link_to root_path do
              = t ".upgrade"
          %li
            = link_to tos_path do
              = t ".terms_and_service"
          %li
            =link_to privacy_policy_path do
              = t ".privacy_policy"

    .row.footer_social
      .col-xs-12
        %h4.center Social
    .row
      .col-xs-12.center
        = link_to "https://www.facebook.com/yingwenxuexiao/" do
          .social_media_button.facebook_social_button
        = link_to "https://www.youtube.com/channel/UCexchUgVhcG7X29v93EZk6w?view_as=subscriber" do     
          .social_media_button.youtube_social_button
        = link_to "https://twitter.com/EnglishSchoolTW/" do     
          .social_media_button.twitter_social_button       
    .row
      .center.v_margin= t ".all_rights_reserved"