= render "shared/campaign_modal", { title: "50 English Idioms", image: "ebook.png", campaign: "launch_idioms"}

#mobile_header_logo_image.hidden-sm.hidden-md.hidden-lg
  = image_tag("english_school_logo")

%header.navbar.navbar-default#main_header
  .row
    .col-xs-3
      .hidden-xs
        = link_to root_path do 
          = image_tag("english_school_logo", id: "main_header_logo_image")
    // user picture, points and level
    .col-xs-6.center.col-sm-2#current_user_info
      .row
        .col-xs-12
          - if logged_in?
            .row
              .col-xs-12
                %h4= current_user.name
            .row#picture_and_level_container
              .level_circle#current_user_level= current_user.level
              = image_tag(current_user.picture_url)
            .row
              .col-xs-12
                %h4#current_user_points= "#{current_user.points} points"

    .container-fluid
      / Brand and toggle get grouped for better mobile display
      .navbar-header
        %button.navbar-toggle.collapsed#nav_sandwhich{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
      / Collect the nav links, forms, and other content for toggling
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        %ul.nav.navbar-nav.navbar-right.nav-links
          %li
            %button.btn.btn-primary.v_margin{"data-target" => "#campaign_modal", "data-toggle" => "modal", :type => "button"} Free Gift
          %li
            = link_to "Blog", blog_path
          %li.hidden-sm.hidden-md.hidden-lg
            = link_to "Free Stuff", blog_path
          %li.hidden-sm.hidden-md.hidden-lg
            = link_to "Courses", courses_path
          %li.hidden-sm.hidden-md.hidden-lg
            = link_to "Premium Membership", blog_path
          %li
            - if logged_in?
              = link_to "Sign Out", sign_out_path
            - else
              = link_to "Sign In", sign_in_path
          %li
            - if logged_in?
              = link_to "Account", account_path
            - else
              = link_to "Sign Up", sign_up_path
      / /.navbar-collapse
    / /.container-fluid
