= render "shared/campaign_modal", { title: "50 English Idioms", image: "ebook.png", campaign: "launch_idioms"}

#mobile_header_logo_image.hidden-sm.hidden-md.hidden-lg
  = image_tag("english_school_logo")

%header.navbar.navbar-default#main_header
  .row
    .col-xs-3
      .hidden-xs
        = link_to root_path do 
          = image_tag("english_school_logo", id: "main_header_logo_image")

    // user picture, points and level
    .col-xs-6.center#current_user_info_container.col-sm-2.col-lg-offset-2
      = render "shared/user_info_preview"

    .container-fluid
      / Brand and toggle get grouped for better mobile display
      .navbar-header
        %button.navbar-toggle.collapsed#nav_sandwhich{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
      / Collect the nav links, forms, and other content for toggling
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        %ul.nav.navbar-nav.navbar-right.nav-links
          %li
            %button.btn.btn-primary.v_margin{"data-target" => "#campaign_modal", "data-toggle" => "modal", :type => "button"}= t ".free_gift"

          %li
            = link_to "Blog", blog_path
          %li.hidden-sm.hidden-md.hidden-lg
            = link_to free_path do
              = t ".free"
          %li.hidden-sm.hidden-md.hidden-lg
            = link_to games_path do
              = t ".games"
          %li
            = link_to courses_path do
              = t ".courses"
          %li.hidden-sm.hidden-md.hidden-lg
            - if logged_in? && (current_user.is_paid_member? || current_user.is_admin?)
              = link_to "My Words", my_words_path # My Words
            - else
              = link_to upgrade_path do
                = t ".upgrade"
          %li
            - if logged_in?
              = link_to sign_out_path do
                = t ".sign_out"
            - else
              = link_to sign_in_path do
                = t ".sign_in"
          %li
            - if logged_in?
              = link_to account_path do
                = t ".account"
            - else
              = link_to sign_up_path do
                = t ".sign_up"
      / /.navbar-collapse
    / /.container-fluid