%nav#main_nav.navbar.navbar-default.navbar-static-top.hidden-xs
  .row
    .col-sm-2.nav_item
      .nav_text
        = link_to free_path do
          = t ".free"
    .col-sm-2.nav_item
      .nav_text
        = link_to courses_path do
          = t ".courses"
    .col-sm-2.nav_item
      .nav_text
        = link_to games_path do
          = t ".games"
    .col-sm-4.nav_item
      .nav_text
        - if logged_in? && (current_user.is_paid_member? || current_user.is_admin?)
          = link_to "My Words", my_words_path # My Words
        - else
          = link_to upgrade_path do
            = t ".upgrade"
    .col-sm-2.nav_item
      .nav_text 
        = link_to "Blog", blog_path