%nav#main_nav.navbar.navbar-default.navbar-static-top.hidden-xs
  .row
    .col-sm-2.nav_item
      .nav_text
        = link_to "Free Stuff", free_path
    .col-sm-2.nav_item
      .nav_text
        = link_to "Courses", courses_path
    .col-sm-2.nav_item
      .nav_text
        = link_to "Practice", practice_path
    .col-sm-4.nav_item
      .nav_text
        - if logged_in? && current_user.is_paid_member?
          = link_to "My Words", my_words_path
        - else
          = link_to "Premium Membership", upgrade_path
    .col-sm-2.nav_item
      .nav_text 
        = link_to "Blog", blog_path