.blog_sidebar
  .widget.ebook_sign_up
    .topline= t ".get_300_lessons"
    .widget_body
      %p= t ".get_joshs_new_book"
      %button.btn.btn-primary.btn-lg{"data-target" => "#campaign_modal", "data-toggle" => "modal", :type => "button"}= t ".get_the_book"

  .widget
    = bootstrap_form_for EmailSignup.new do |f|
      %h4= t ".sign_up_to_our_mailing_list"
      %p= t ".never_miss_a_lesson_or_article"
      %small= t ".we_wont_spam_you"

      / %small We won't spam you
      = hidden_field_tag :page, request.original_url
      = hidden_field_tag :campaign, "Newsletter"
      = f.text_field :email
      = f.submit "Enter", class: "btn btn-primary"