%section.spash_highlights
  .row
    .container
      .col-sm-1.col-sm-offset-2
        %i.fa.fa-video-camera
      .col-sm-2= t ".over_200_video_lessons"
      .col-sm-1
        %i.fa.fa-check-circle
      .col-sm-2= t ".hundreds_of_quiz_questions"
      -#   %i.fa.fa-mobile-phone
      -# .col-sm-2 用手機app練習英文

      / .col-sm-2 Smartphone APPS to practice your English
      .col-sm-1
        %i.fa.fa-question
      .col-sm-2= t ".ask_the_teacher_if_you_have_questions"


%section.large_splash_highlights
  .container
    .row
      .col-sm-1
        .icon_wrapper.center
          = image_tag("icons/presentation")
      .col-sm-5
        %h4.center= t ".video_lessons"
        / %h4.center  Video Lessons
        %p= t ".watch_video_lessons"
      .col-sm-1
        .icon_wrapper.center
          = image_tag("icons/test")
      .col-sm-5
        %h4.center= t ".quizzes"
        / %h4.center Quizzes
        %p= t ".practice_what_you_have_learned"
    .row
      .col-sm-1
        .icon_wrapper.center
          = image_tag("icons/notepad")
      .col-sm-5
        %h4.center= t ".lesson_notes"

        / %h4.center Lesson Notes
        %p= t ".each_lesson_contains_notes"

      .col-sm-1
        .icon_wrapper.center
          = image_tag("icons/smartphone")
      .col-sm-5.col
        %h4.center= t ".smart_phone_app"
        / %h4.center Smart Phone App
        %p= t ".with_our_smart_phone_app"
        
%section.row.meet_your_teacher
  .container
    .row.h_padding
      .col-sm-6.col-sm-offset-4
        %h1= t ".meet_your_teacher"
        = image_tag("josh_main_placeholder", class: "img-circle")
        %ul
          %li
            %h4= t ".experienced"
            %p= t ".taught_over_2000_students"
          %li
            %h4= t ".knowledgeable"
            %p= t ".holds_a_ba"
            / %p 


%h2.center= t ".example_videos"

%section.row
  .container
    .col-xs-12.col-md-6
      %h3.center= t ".idioms"
      %div{:style => "position:relative; padding-bottom:56.25%; overflow:hidden;"}
        %iframe{:allowfullscreen => "", :frameborder => "0", :height => "100%", :scrolling => "auto", :src => "//content.jwplatform.com/players/GPqJ5I8D-qESISdXY.html", :style => "position:absolute;", :width => "100%"}
    .col-xs-12.col-md-6
      %h3.center= t ".reading_practice"
      %div{:style => "position:relative; padding-bottom:56.25%; overflow:hidden;"}
        %iframe{:allowfullscreen => "", :frameborder => "0", :height => "100%", :scrolling => "auto", :src => "//content.jwplatform.com/players/4d7qBDGV-qESISdXY.html", :style => "position:absolute;", :width => "100%"}
    .col-xs-12.col-md-6
      %h3.center= t ".grammar"
      %div{:style => "position:relative; padding-bottom:56.25%; overflow:hidden;"}
        %iframe{:allowfullscreen => "", :frameborder => "0", :height => "100%", :scrolling => "auto", :src => "//content.jwplatform.com/players/pEJ8cXAr-qESISdXY.html", :style => "position:absolute;", :width => "100%"}
    .col-xs-12.col-md-6
      %h3.center= t ".phrases"
      %div{:style => "position:relative; padding-bottom:56.25%; overflow:hidden;"}
        %iframe{:allowfullscreen => "", :frameborder => "0", :height => "100%", :scrolling => "auto", :src => "//content.jwplatform.com/players/PJBlg3Fm-qESISdXY.html", :style => "position:absolute;", :width => "100%"}

%section.row
  %h2.center= t ".features"
  .container
    .xs-col-12.col-md-6
      %h3.center= t ".flash_cards"
      =image_tag("flash_cards_gif")
    .xs-col-12.col-md-6
      %h3.center= t ".ask_questions"
      =image_tag("ask_questions_gif")
    .xs-col-12.col-md-6.col-md-offset-3
      %h3.center= t ".download_notes"
      =image_tag("download_notes_gif")



%br/
%section.row.course_splash_preview
  .row
    %h2.center= t ".courses"
  .row
    .container-fluid.center
      - Course.premium_published_courses.each do |course|
        = render "courses/course_preview", course: course


%br/
.row
  .container
    .col-xs-8.col-xs-offset-2.col-md-6.col-md-offset-3
      %h3.center= t ".sign_up_for_free"
      = link_to sign_up_path  do
        .btn.btn-primary.btn-block= t ".sign_up"
