%h1#help_top Help


#video_container
:javascript
  var playerInstance = jwplayer("video_container");
  playerInstance.setup({
      file: "http://content.jwplatform.com/videos/a7OY0aJO-ler3Z0AF.mp4",
      tracks: [{ 
            file: "https://content.jwplatform.com/tracks/4Rgr50sU.vtt", 
            label: "English",
            kind: "captions",
            "default": true 
        },{ 
            file: "/assets/captions-fr.vtt", 
            kind: "captions",
            label: "French"
        }]
  });

- @questions.each do |question|
  %ul
    %a{:href => "##{question[:question]}"}
      %li
        %strong= question[:question]

%hr/

- @questions.each do |question|
  %ul
    %li{id: "#{question[:question]}"}
      %strong= question[:question]
      %p= question[:answer]
      %a{:href => "#help_top"}
        %small Back to top
