%section#main_splash.row
  .container
    .col-sm-5.col-sm-offset-4
      %h1 即刻增进您的英文能力
      / %h1 Improve Your English Right Now
      %h4 透过影片和有趣的测验等来学习英文！
      / %h4 Learn English with Video Lessons, Fun Quizzes and more!
      / .btn.btn-primary Sign Up Now

%section.v_margin
  .row
    .col-xs-10.col-xs-offset-1
      .widget
        = bootstrap_form_for EmailSignup.new do |f|
          %h4 得到我们的新课程提醒
          / %h4 Get notified when we launch our courses
          %p 我们持续努力精进我们的一般和高级课程。欢迎提供您的﻿mail以获得我们新课程的上线通知。
          / %p We are working hard on our courses and other premium courses. Give us your email to be notified when we release our courses.
          = hidden_field_tag :page, request.original_url
          = hidden_field_tag :campaign, "Prerelease"
          = f.text_field :email
          = f.submit "註冊", class: "btn btn-primary" # Sign up

%section.row.spash_highlights
  .container
    .col-sm-1
      %i.fa.fa-video-camera
    .col-sm-2 超过10小时的影片课程
    / .col-sm-2 Over 10 hours of video lessons

    .col-sm-1
      %i.fa.fa-check-circle
    .col-sm-2 几百个测验问题帮助你加强学习过的内容
    / .col-sm-2 Hundreds of quiz questions to reinforce what you have learned

    .col-sm-1
      %i.fa.fa-mobile-phone
    .col-sm-2 用手机app练习英文
    / .col-sm-2 Smartphone APPS to practice your English

    .col-sm-1
      %i.fa.fa-question
    .col-sm-2 有问题时可随时问老师
    / .col-sm-2 Ask the teacher if you have questions

%section.large_splash_highlights
  .container
    .row
      .col-sm-1
        .icon_wrapper.center
          = image_tag("icons/presentation")
      .col-sm-5
        %h4.center  影片课程
        / %h4.center  Video Lessons
        %p 观赏影片课程，听自然的英语发音。我们也会不断补上新的课程，包含更多新的主题，如：CET、雅思、俚语和商用英语。成为会员後，您可以自由选择您想要的课程。
        / %p Watch video lessons and hear native English speakers. New courses are continuously being added to cover new topics like CET, IELTES, idioms and business English. You can take any course as long as you are a member.

      .col-sm-1
        .icon_wrapper.center
          = image_tag("icons/test")
      .col-sm-5
        %h4.center 测验
        / %h4.center Quizzes
        %p 测验问题可以帮助你练习学习过的内容。每堂课程都有相关的测验问题。
        / %p Practice what you have learned by taking quizzes and testing yourself. Each lesson has questions covering the material.

    .row
      .col-sm-1
        .icon_wrapper.center
          = image_tag("icons/notepad")
      .col-sm-5
        %h4.center 课程笔记
        / %h4.center Lesson Notes
        %p 每堂课程都有笔记提供下载，方便您列印出来稍後学习。
        / %p Each lesson contains notes that you can download and print off so you can study later.
      .col-sm-1
        .icon_wrapper.center
          = image_tag("icons/smartphone")
      .col-sm-5.col
        %h4.center 手机App
        / %h4.center Smart Phone App
        %p 不在电脑前时，可以使用我们的手机app练习英文。
        / %p With our smart phone app you can practice English when you are away from your computer.

%section.row.meet_your_teacher
  .container
    .row.h_padding
      .col-sm-6.col-sm-offset-4
        %h1 教师团队 - Josh Lee 李老師
        / %h1 Meet Your Teacher - Josh Lee
        = image_tag("josh_main_placeholder", class: "img-circle")
        %ul
          %li
            %h4 经验丰富
            / %h4 Experienced
            %p Josh在大学、语言中心和线上平台教学超过2000名中文学生，甚至替其他TEFL的老师做教学训练。
            / %p Taught over 2,000 Chinese students at Universities, Training Centers and Online. Josh has even lead training sessions for other TEFL teachers.
          %li
            %h4 学识渊博
            / %h4 Knowledgeable
            %p 拥有学士学位、MBA和剑桥大学或其他组织的英语教学证书。
            / %p Holds a BA, MBA and various English teaching certifications from Cambridge and other organizations.

%section.row.course_splash_preview
  .container
    %h1 高级课程
    / %h1 Premium Courses
    .row

      .col-sm-3
        .ielts_test_prep.course_preview
          = image_tag("sales_page/white_board")
          %h4 雅思考试准备
          / %h4 IELTS test preparation
          %p 高分通过雅思测验
          / %p Pass the IELTS and get a high score.
          %small 即将推出
          / %small Coming soon

      .col-sm-3
        .business_english.course_preview
          = image_tag("sales_page/meeting")
          %h4 商用英语
          / %h4 Business English
          %p 学习如何用英语谈判、做生意
          / %p Learn how to do business, negotiate be speak the language of business.
          %small 即将推出
          / %small Coming soon

      .col-sm-3
        .beginner_english.course_preview
          = image_tag("sales_page/letter_cubes")
          %h4 初级英语
          / %h4 Beginner English
          %p 初学者适用
          / %p For complete beginners.
          %small 即将推出
          / %small Coming soon

      .col-sm-3
        .english_idioms.course_preview
          = image_tag("sales_page/notebook")
          %h4 英文俚语
          / %h4 English Idioms
          %p 跟着我们的课程一起学习如何很自然地说英语
          / %p Learn how to talk like a native speaker with this class.
          %small 即将推出
          / %small Coming soon














