.row
  .comment.well
    .row
      .col-xs-2
        = image_tag(comment.author.picture_url, class: "comment_author_image")
      .col-xs-8
        %h5
          %strong #{comment.author.name} <small> says </small>
        .comment_body
          %p= comment.body
    .row
      .replies
        - comment.replies.each do |reply|
          .col-xs-11.col-xs-offset-1.comment_reply
            .col-xs-2
              = image_tag(reply.author.picture_url, class: "reply_author_image")
            .col-xs-8
              %h5
                %strong #{comment.author.name} <small> replies </small>
              .reply_body
                %p= reply.body
    %a.comment_reply_launcher Reply to this comment
    .row
      .comment_reply_form.col-xs-11.col-xs-offset-1
        = bootstrap_form_for([@lesson.course, @lesson, comment, Reply.new]) do |f|
          = f.text_area :body
          = f.submit "Reply", class: "btn btn-primary"