.row
  .col-sm-4
    - if current_user.is_admin?
      .row
        .col-xs-4
          = link_to rearrange_admin_course_path(@course) do
            .btn.btn-primary Course Units
      .row
        .col-xs-2
          %h5 Add lesson
        .col-xs-5
          .add_lesson_button
            = link_to new_admin_course_lesson_path(@course) do
              %i.fa.fa-plus


    = render "courses/lesson_panel"
  .col-sm-8
    - if current_user.is_admin?
      = link_to edit_admin_course_lesson_path(@course, @lesson) do
        .btn.btn-warning Edit Lesson

      = link_to admin_course_lesson_path(@course, @lesson), method: "DELETE", data: {confirm: "Are you sure you want to delete this lesson?"} do
        .btn.btn-danger Delete Lesson
    %br/
    %br/

    %h1.center= @lesson.name
    = render "lessons/video"
    = render "lessons/audio"
    = render "lessons/vocabulary_words"

    = render "lessons/scripts"  
    = render "lessons/description"
    = render "lessons/notes"

    = render "lessons/instructions"
    = render "quizzes/quiz_section"
    - if !@lesson.has_quiz? || current_user.taken_quiz?(@lesson.quiz)
      = link_to course_lesson_complete_lesson_path(@course, @lesson), method: "post" do 
        .btn.btn-success.pull-right Next Lesson

    
    .article_comments_section
      %h2 Comments
      - if current_user.is_paid_member? || current_user.is_admin?
        = bootstrap_form_for [@lesson.course, @lesson, Comment.new], remote: true do |f|
          = f.text_area :body
          = f.submit "Create Comment", class: "btn btn-primary"
        = render "comments/comments_section", object: @lesson
      - else 
        %h5 免費用戶不能問老師問題。  爲了問老師問題升級。 