.row
  .col-sm-4
    = render "courses/lesson_panel"
  .col-sm-8
    - if current_user.is_admin?
      = link_to edit_admin_course_lesson_path(@course, @lesson) do
        %small Edit Lesson
    %h1= @lesson.name
    .well= @lesson.instructions

    %iframe{:allowfullscreen => "true", :frameborder => "0", :height => "315", :src => @lesson.video_url, :width => "560"}

    .row
      .scripts_container
        .col-sm-6
          .english_script.well
            %h5 English Video Script
            %p= @lesson.script_english
        .col-sm-6
          .chinese_script.well
            %h5 Chinese Video Script
            %p= @lesson.script_chinese
    .description_container.well
      %p= @lesson.description
    = link_to @lesson.notes_url do
      .lesson_notes_container
        %i.fa.fa-file
        %h5 Download Notes

    = render "quizzes/quiz_section"
    - if !@lesson.has_quiz? || current_user.taken_quiz?(@lesson.quiz)
      = link_to course_lesson_complete_lesson_path(@course, @lesson), method: "POST" do 
        .btn.btn-success.pull-right Next Lesson

  
    .article_comments_section
      %h2 Comments
      = bootstrap_form_for [@course, @lesson, @comment], remote: true do |f|
        = f.text_area :body
        = f.submit "Create Comment", class: "btn btn-primary"
    = render "comments/comments_section", object: @lesson