.row
  .col-sm-4
    = render "courses/lesson_panel"
  .col-sm-8
    - if current_user.is_admin?
      = link_to edit_admin_course_lesson_path(@course, @lesson) do
        %small Edit Lesson
    %h1= @lesson.name

    %iframe{:allowfullscreen => "true", :frameborder => "0", :height => "315", :src => @lesson.video_url, :width => "560"}

    .row
      .scripts_container
        .col-sm-6
          .english_script
            %p= @lesson.script_english
        .col-sm-6
          .chinese_script
            %p= @lesson.script_chinese
    .description_container
      %p= @lesson.description
    = link_to @lesson.notes_url do
      .lesson_notes_container
        %i.fa.fa-file
        %h5 Download Notes