= bootstrap_form_for([:admin, :dashboard, affiliate, affiliate_link]) do |f|
  = f.text_field :name
  = f.text_field :code
  = f.text_area :sign_up_message
  = f.text_area :upgrade_message
  = f.radio_button(:active, true, inline: true)
  = f.label(:active, "Active", for: "affiliate_link_active_true")
  %br/
  = f.radio_button(:active, false, inline: true)
  = label(:active, "Not Active", for: "affiliate_link_active_false")
  %br/
  = f.submit affiliate_link.new_record? ? "Create Affiliate Link" : "Save Edits", class: "btn btn-primary" 