%h1 My Words
%table.table.table-bordered
  %thead
    %td 英語
    -# %td Word
    %td 中文
    -# %td Chinese
    %td 部分講話
    -# %td Part of speech
    %td Ipa
    %td 定義
    -# %td Definition
    %td 樣本句子
    -# %td Sample Sentence
    - if current_user.is_admin?
      %td Review Time
  %tbody
    - @user.vocabulary_words.each do |word|
      %tr
        %td
          %h5= word.main
        %td
          %h5= word.chinese
        %td
          %h5= word.part_of_speech
        %td
          .row
            .col-xs-2
              %i.glyphicon.glyphicon-play-circle.vocab_speach_button{data: {word: word.main}}
            .col-xs-10
              %h5= word.ipa
        %td
          %h5= word.definition
        %td
          .row
            .col-xs-2
              %i.glyphicon.glyphicon-play-circle.vocab_speach_button{data: {word: word.sentence}}
            .col-xs-10
              %h5= word.sentence
        - if current_user.is_admin?
          %td= current_user.user_vocabulary_words.find_by(vocabulary_word_id: word.id).review_time


