#lesson_panel
  %h4 Lessons
  %ul
    %li
      .row
        .col-xs-6.col-xs-offset-3
          - if current_user.is_admin?
            = link_to admin_course_path(@course) do
              Course Intro
          - else
            = link_to course_path(@course) do
              Course Intro

    - if logged_in? && current_user.is_admin?
      - @course.lessons.each do |lesson|
        %li{class: ("current_lesson" if @lesson && @lesson.id == lesson.id)}
          .row
            .col-xs-6.col-xs-offset-3
              =link_to "Lesson - #{lesson.lesson_number} - id: #{lesson.id} ", course_lesson_path(@course, lesson)
            .col-xs-2
              - unless lesson.published
                NP
    - else
      - @course.published_lessons.each do |lesson|
        %li{class: ("current_lesson" if @lesson && @lesson.id == lesson.id)}
          .row
            .col-xs-6.col-xs-offset-3
              =link_to "Lesson - #{lesson.lesson_number} ", course_lesson_path(@course, lesson)
            .col-xs-2
              - if current_user.completed_lesson?(lesson)
                %i.fa.fa-check

