- unless @course.new_record?
  = link_to admin_course_path(@course), method: "DELETE", data: {confirm: "Are you sure you want to delete this Course?"} do
    .btn.btn-danger Delete

= bootstrap_form_for([:admin, @course]) do |f|
  = f.text_field :name
  = f.radio_button(:published, true, inline: true)
  = f.label(:published, "Published", for: "course_published_true")
  %br/

  = f.radio_button(:published, false, inline: true)
  = label(:published, "Not Published", for: "course_published_false")
  = f.text_area :description
  = f.text_area :preview_text
  = f.file_field :main_image_url, class: "btn btn-file"
  = label :premium_course, 'Premium Course'
  = f.radio_button :premium_course, true, class: "radio-inline"
  = label :premium_course, 'Free Course'
  = f.radio_button :premium_course, false, class: "radio-inline"
  = f.collection_check_boxes :course_level_ids, CourseLevel.all, :id, :name do |cb|
    - cb.label(class: "inline article_category_checkbox") {cb.check_box(class: "article_category_checkbox") + cb.text}
  = f.submit @course.new_record? ? "Create Course" : "Save course", class: "btn btn-primary"


%br/

- unless @course.new_record?
  %h2 Mass upload Vocabulary Words for course

  %p Words must contain all attributes plus vocabulary_wordable_type as "Lesson" and vocabulary_wordable_id. Words in the spreedsheet must be grouped by lesson. Words with a vocabulary_wordable_id that matches the previous word will be put into the same lesson. If you want to create a new lesson, then just make the id something large like "1000".
  %strong USE an xlsx file!!!!!!
  = form_tag import_vocabulary_words_admin_course_path, multipart: true do
    = file_field_tag :file
    = hidden_field_tag :course_id, @course.slug
    %br/
    = submit_tag "Import", class: "btn btn-primary"

- unless @course.new_record?
  %h2 Mass upload Quizzes for course
  = form_tag import_quizzes_admin_course_path(@course), multipart: true do
    = file_field_tag :file
    %br/
    = submit_tag "Import", class: "btn btn-primary"

