<!DOCTYPE html>
<html>
<head>
  <title>英文學校 - English School</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'swfobject' %>
  <script src='https://content.jwplatform.com/libraries/qESISdXY.js'> </script>

  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

</head>
<body>

<% if logged_in? && !current_user.is_admin? && !current_user.is_paid_member? %>
  <%= link_to upgrade_path do %>
    <div id="upgrade_footer">
      Upgrade
    </div>
  <% end %>
<% end %>

<%= render "shared/admin_header" %>
<%= render "shared/header" %>
<%= render "shared/nav" %>
<%= render "shared/breadcrumbs" %>


<%= render 'shared/messages' %>
<main> 
  <%= yield %>
</main>



<%= render 'shared/footer' %>
<%= render 'shared/level_up_container' %>


</body>
</html>
